@charset "utf-8";

*{margin: 0; padding: 0;}
.clear::after{content: ""; width: 0; height: 0; display: block; clear: both;}
.left{float: left;}
.right{float: right;}
.txt-indent{text-indent: -9999px;}
.txt-hidden{display: none;}
#main-wrapper{position: relative;}
.main-sec{position:relative; width:100%;}
.muz-color{color: purple;}
.center{text-align: center;}
/* =======================================================
    header
========================================================*/

/* =======================================================
    footer
========================================================*/

/* =======================================================
    popup-wrapper
========================================================*/

.popup-wrapper{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-color: #222222ce; display: none;}
.popup{ position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); z-index: 10000; }
.pop-content{  background-color: #d2e6ff; padding: 10px; max-width: 400px; border-radius: 20px;}
.popup-swiper{}
.popup-swiper .swiper-slide{width: 100%; height: 0; padding-top: 140%; overflow: hidden; margin-bottom: 10px; border-radius: 20px 20px 0 0;}
.popup-swiper .dress-img{position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%;}
.popup-swiper .dress-img img{width: 100%; height: 100%;}
.popup .btn-close{color:#fff; text-align: right; fill: #fff; display: flex; align-items: center; justify-content: flex-end; margin-top: 5px; cursor: pointer;}
.popup .btn-close span{padding-left: 5px;}
.popup-swiper .swiper-button-next:after,
.popup-swiper .swiper-button-prev:after{font-size: 26px; color: #fff;}

.thumb-swiper .swiper-slide{}

@media (max-width: 1400px) {
   
}
@media (max-width: 1200px) {
   .pop-content{max-width: 350px;}
 
}
@media (max-width: 1024px) {
   .pop-content{max-width: 300px;}
 
}
/* 모바일 */
@media (max-width: 768px) {

}

@media (max-width: 576px) {
   .pop-content{max-width: 280px;}

}
@media (max-width: 425px) {

}
@media (max-width: 372px) {
   .pop-content{max-width: 240px;}
   .popup .btn-close span{font-size: 12px;}
   .popup .btn-close svg{width: 10px !important;}

}

/* =======================================================
    floating
========================================================*/

/* =======================================================
    list-style
========================================================*/
.list-number{}
.list-number li{position: relative; padding-left: 18px;}
.list-number li::before{position: absolute; display: block; content: ""; left: 0;font-weight: 600; }
.list-number li:nth-child(1):before{content: "1.";}
.list-number li:nth-child(2):before{content: "2.";}
.list-number li:nth-child(3):before{content: "3.";}
.list-number li:nth-child(4):before{content: "4.";}
.list-number li:nth-child(5):before{content: "5.";}
.list-number li:nth-child(6):before{content: "6.";}
.list-number li:nth-child(7):before{content: "7.";}
.list-number li:nth-child(8):before{content: "8.";}
.list-number li:nth-child(9):before{content: "9.";}
/* =======================================================
    error
========================================================*/


